.content {
  button {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--hover-color, rgba(63, 81, 181, 0.1));
    }
  }
}
.selected {
  background-color: var(--selected-color, rgba(63, 81, 181, 0.4));
}

